# dependencies
node_modules/

# next.js
.next/
out/

# build
build/

# env
.env*
!.env.example

# logs
*.log

# typescript
*.tsbuildinfo

# misc
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
.cursor/
